.nav {
  width: 100%;
  background-color: $light-blue;
  display: flex;
  flex-direction: column;
  &__links {
    margin: 0 auto;
    width: 1100px;
    padding: 25px 0;
  }

  &__links-list {
    display: flex;
    & li + li {
      padding-left: 50px;
    }
    & li {
      position: relative;
      &:not(:last-child)::after {
        content: "";
        position: absolute;
        height: 4px;
        width: 4px;
        border-radius: 50%;
        background-color: rgb(9, 90, 27);
        right: 0;
        transform: translate(30px, 12px);
      }
    }
    & a {
      font-size: $text__18;
      color: white;
      text-transform: uppercase;
      font-family: $open-sans;
    }
  }
  &__main {
    background: url("../image/wellcome.jpg") center center/cover no-repeat;
    height: 248px;
    text-align: center;
    position: relative;
  }
  &__main-links {
    position: absolute;
    top: 50%;
    left: 45%;
  }
}
