// размеры шрифтов
$text__14: 1.4rem;
$text__16: 1.6rem;
$text__18: 1.8rem;
$text__24: 2.4rem;

// подключаемые шрифты
$open-sans: "Open Sans", sans-serif;
$roboto: "Roboto", sans-serif;

//colors
$light-blue: #4b8ba7;
$green: #3eb489
